{% extends "base.html" %}

{% block head %}

{% endblock %}
{% block content %}
    <form class="well" action="">
        <input type="text" class="search-query span2" placeholder="Search" id="snpid" value="Rs9939609">
    </form>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#dbsnp" data-toggle="tab">dbSnp</a></li>
            <li><a href="#pubmed" data-toggle="tab">Pubmed</a></li>
            <li><a href="#tags" data-toggle="tab">Tags</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="dbsnp">
                <h1>HAI dbSNP!<a href="#dbsnp" onclick="$('#dbsnp').load('/dbsnp/?snp='+$('#snpid').val());" class="btn">Load!</a></h1>
            </div>
            <div class="tab-pane" id="pubmed">
                <h1>HAI pubmed!<a href="#pubmed" onclick="$('#pubmed').load('/pubmed/?snp='+$('#snpid').val());" class="btn">Load!</a></h1>
            </div>
            <div class="tab-pane" id="tags">
                <h1>HAI tagging!<a href="#tags" onclick="$('#tags').load('/tag/?snp='+$('#snpid').val());" class="btn">Load!</a></h1>
            </div>
        </div>
    </div>
{% endblock %}
