{% extends "base.html" %}

{% block head %}
<script src="/js/bootstrap-typeahead.js" type="text/javascript"></script>
<script type="text/javascript">
    function MyVal() {}
    MyVal.tags = [];

    function addTag(tag) {
        if($.inArray(tag, MyVal.typeahead.data('typeahead').source) == -1) {
            MyVal.typeahead.data('typeahead').source.push($('#tag').val());
        }
        if($.inArray(tag, MyVal.tags) == -1) {
            $('<a href="javascript:void(0);">'+tag+' </a>').addClass('btn')
                .append($('<i class="icon-remove"></i>').click(removeTag))
                .appendTo("#tags");
            MyVal.tags.push(tag);
        }
    }
    function removeTag(e) {
        var tag = $(e.target).parent().text().trim()
        var i = $.inArray(tag, MyVal.tags);
        if(i != -1) {
            delete MyVal.tags[i];
        }
        $(e.target).parent().remove();
    }
    $(document).ready(function(){
            // Load tags
            var tags = [];
            {% for tag in tags %}
            tags.push("{{tag}}");
            {% endfor %}

            // Create typeahead and list
            MyVal.typeahead = $('.typeahead').typeahead({source:tags});
            MyVal.typeahead.bind('keyup', function(e) {
                    var code = (e.keyCode ? e.keyCode : e.which);
                    if(code == 13) { //Enter keycode
                        $('#submittag').click();//submitTag();
                    }
                });
            $('#submittag').click(function() {
                addTag($('#tag').val());
                $('#tag').val('');
                });

    });
</script>
{% endblock %}

{% block content %}
<h1>Tagging {{snp}}</h1>
<div class="input-append">
    <input type="text" class="typeahead" id="tag"/>
    <span class="add-on"><a href="javascript:void(0);" id="submittag">Tag</a></span>
</div>
<div class="control-group">
    <div class="control-label">
        Active tags
    </div>
    <div class="controls" id="tags">
    </div>
</div>
{% endblock %}

