<h2>SNP Collections</h2>
<form class="well form-inline" method="post" action="/collection/">
  <input id="name" name="name" type="text" class="input-small span10" placeholder="New collection name..">
  <button type="submit" class="btn btn-primary">Create</button>
</form>
{% for coll in collections %}
	{% if loop.first %}
	<table class="table">
    <thead>
    <tr>
	    <th class="span7"><h4>Name</h4></th>
	    <th class="span1"><h4>Count</h4></th>
	    <th class="span1"><h4>Delete</h4></th>
    </tr>
    </thead>
    <tbody>
    {% endif %}
    <tr>
		<td><h4><a href="/collection/?name={{coll.name}}">{{coll.name}}</h4></td>
		<td>{{coll.count}}</td>
		<td>
			<form type="post" action="/deletecollection/{{coll.name}}">
					<button type="submit" class="btn-mini">Delete</button>
			</form>
			<!-- <a class="btn" href=>Delete</a> -->
		</td>
	</tr>
	{% if loop.last %}
	</tbody>
	</table>
	{% endif %}
	{% else %}
	 <h4>No Collections</h4>
{% endfor %}
