<div class="row-fluid">
    <div class="span9">
    	<h2> <a href="/collections/">Collections</a> > <a href="/collection/?name={{collection.name}}">{{collection.name}}</a> > SNPs</h2>
      <form class="well form-inline" type="post" action="/addsnps/{{collection.name}}">
      <p><small>paste comma-seperated snpids: 10260404,3825776,12284594,7041847,16955379,rs1805007,12345</small></p>
        <input id="snps" name="snps" type="text" class="input-small span8" placeholder="Add snps to collection">
        <button type="submit" class="btn">Add</button>
</form>
    	{% if collection.snps %}
    	<table class="table">
            <thead>
            	<tr>
                    <th class="span8"><h4>SNPs ({{collection.count}})</h4></th>
                    <th class="span1"><h4>Delete</h4></th>
                </tr>
            </thead>
            <tbody>
			{% for snp in collection.snps %}					
				<tr>
					<td> <a href="/snp/{{snp.name()}}">{{snp.name()}}</a></td>
					<!-- TODO: delete snp -->
					<td><a href="/deletesnp/{{collection.name}}/?snp={{snp.name()}}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% else %}
		<h4>No SNPs in collection; Add SNPs in the above bar</a>?</h4>
		{% endif %}
    </div><!--/span-->
    <div class="span3">
        <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Navigate Collection</li>
          <li class="active"> <a href="/collection/?name={{collection.name}}">SNPs</a> </li>
          <li><a href="/diseases/groupebysnps/{{collection.name}}">Related Diseases</a></li>
          <li><a href="/deletecollection/{{collection.name}}">Delete Collection</a></li>
        </ul>
        </div><!--/.well -->
    </div><!--/span-->
</div><!--/row-->

