{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}

<div style="text-align:center;margin:0px auto;">
    <p>Welcome, {{user.nickname()}}, to <a href="/">PerseQ</a>. Choose a path below.</p>
<ul class="nav nav-pills" style="display:inline-block;">
    <li><a href="/search/"   class="box search">OmniSearch</a></li>
    <li><a href="/diseases/" class="box categories">Browse diseases</a></li>
    <li><a href="/studies/"   class="box journal">Genome Wide Association Studies</a></li>
</ul>
</div>

{% endblock %}
