<div class="page-header">
<h2>Diseases</h2>
</div>
<form method="GET" class="well form-inline">
    <input class="input search-query span10" placeholder="Disease search"
    name="filter" value="{{filter if filter is defined}}" />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>
{% if filter is defined %}
<h3><small>Showing results for "{{filter}}". <a href="/diseases/">Back</a></small></h3>
{% else %}
<h3><small>Showing all diseases.</small></h3>
{% endif %}

{% if diseases %}
	{% for disease in diseases %}
	<article class="row">
	    <div class="span10">
	        <!-- might want to alter that to key -->
	        <h3><a href="/disease/{{disease.name}}">{{disease.name}}</a></h3>
	    </div>
	</article>
	{% else %}
	    <!-- if the list is empty - could very well be a missing db init.. -->
	    <h3>No diseases..</h3>
	{% endfor %}
	{% if page %}
	{% if page == 1 %}
	<ul class="pager">
		<li>
  			<a href="">
  				{{page}} / {{count}}
  			</a>
  		</li>
  		<li>
    		<a href="/diseases/?page={{page + 1}}">Next</a>
  		</li>
	</ul>
	{% elif page == count %}
	<ul class="pager">
  		<li>
    		<a href="/diseases/?page={{page - 1}}">Previous</a>
  		</li>
		<li>
  			<a href="">
  				{{page}} / {{count}}
  			</a>
  		</li>
	</ul>
	{% else %}
	<ul class="pager">
  		<li>
    		<a href="/diseases/?page={{page-1}}">Previous</a>
  		</li>
  		<li>
  			<a href="">
  				{{page}} / {{count}}
  			</a>
  		</li>
  		<li>
    		<a href="/diseases/?page={{page + 1}}">Next</a>
  		</li>
	</ul>
	{% endif %}
	{% endif %}
{% endif %}