<ul class="breadcrumb">
  <li>
    <a href="/diseases/">Diseases</a> <span class="divider">/</span>
  </li>
  <li>
    {{disease.name}}
  </li>
</ul>

<div class="page-header">
    <h2>{{disease.name}}</h2>
</div>

{% for study in studies %}
<h3>{{study}}</h3>
<article class="row">
    <time class="span1">{{study.date}}</time>
    <div class="span10">
    <h3>
        <a href="/study/{{study.pubmed_id}}">
        {{study.name}}</a>
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{study.pubmed_id}}" class="btn btn-success btn-mini">PubMed</a>
        </h3>
        {% if study.diseases %}
        <h4>Disease(s):</h4>
        <ul>
        {% for disease in study.diseases %}
            <li> <h4><a href="/disease/{{disease.name()}}">{{disease.name()}}</a></h4> </li>
        {% endfor %}
        </ul>
        {% endif %}
        <dl class="dl-horizontal">
            <dt>Sample size(s):</dt>
                <dd>{{study.init_sample}}</dd>
            <dt>Replication sample:</dt>
                <dd>{{study.repl_sample}}</dd>
            <dt>Platform</dt>
                <dd> {{study.platform}}</dd>
        </dl>
    
    </div>
</article>
{% else %}
<h3>No articles</h3>
{% endfor %}