<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PerSeq</title>
    <meta name="description" content="">
    <meta name="author" content="">
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
    <script src="bootstrap/js/google-code-prettify/prettify.js"></script>
  </head>

  <body>

    <!-- Top Navigation -->
   <div class="topbar">
    <div class="fill">
        <div class="container">
            <h3><a href="#">PerSeq</a></h3>
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">SNPs</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
          </ul>
          <!--<form action="">
            <input type="text" placeholder="Search" />
          </form>-->
          <ul class="nav secondary-nav">
            <li class="menu">
                <a href="#" class="menu">Username</a> <!--insert name of user -->
                <ul class="menu-dropdown">
                    <li><a href="#">My SNPs</a></li>
                    <li><a href="#">My Account</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Log off</a></li>
                </ul>
            </li>
          </ul>
        </div>
    </div>
</div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
</br>
</br>
</br>
</br>
</br>
<ul class="pills">
  <li class="active"><a href="#">rs82473</a></li>
</ul>
<ul class="pills">
  <li><a href="#">rs236298</a></li>
</ul>
<ul class="pills">
  <li><a href="#">rs24976</a></li>
</ul>
<ul class="pills">
  <li><a href="#">rs258457</a></li>
</ul>
<!-- Pagination -->
<div class="pagination">
    <ul>
        <li class="prev disabled"><a href="#">&larr; Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="disabled"><a href="#">...</a></li>
        <li><a href="#">98</a></li>
        <li><a href="#">99</a></li>
        <li><a href="#">100</a></li>
        <li><a href="#">101</a></li>
        <li><a href="#">102</a></li>
        <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>
</div>
      </div>

<!-- Footer -->
      <footer>
        <p>&copy; Beta 2012</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
