<ul class="breadcrumb">
  <li>
    <a href="/collections/">Collections</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/collection/?name={{collection.name}}">{{collection.name}}</a> <span class="divider">/</span>
  </li>
  <li>
    Related Diseases
  </li>
</ul>
<div class="row-fluid">
    <div class="span9">
        <!-- <div class="row"> -->
        <table class="table">
                <thead>
                <tr>
                    <th>Disease</th>
                    <th>Gene</th>
                    <th>Intergenic</th>                
                    <th>Odds Ratio</th>
                    <th>p&#8209;Value</th>
                    <th>Allele Freq.</th>
                    <th>CI</th>
                </tr>
                </thead>
                <tbody>
            {% for snp in snps %} 
            <tr>
                <td colspan="7"><h4>SNP ID: {{snp.snpid}}:</h4></td>
            </td>
            {% if snp.gwas %} <!-- list the GWAS relations of the SNP -->
            
            {% for gwas in snp.gwas %}
                <tr>
                    <td><a href="/disease/{{gwas.disease.name}}">{{gwas.disease.name}}</a>   <a class="btn-mini btn-info" href="/study/{{gwas.study.key().name()}}">&raquo;</a></td>
                    <td><a class="btn-mini btn-info" href="/gene/{{gwas.gene.name}}">{{gwas.gene.name}} &raquo;</a></td>
                    <td>{{gwas.intergenic}}</td>
                    <td>{{gwas.OR_beta}}</td>
                    <td>{{gwas.p_val}}</td>
                    <td>{{gwas.riscAlleleFrequency}}</td>
                    <td>{{gwas.CI}}</td>
                </tr>
            {% endfor %}
                
            {% endif %}        
            {% endfor %}
        </tbody>
        </table>
        <!-- </div> -->
    </div>

    <div class="span3">
        <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Navigate Collection</li>
          <li><a href="/collection/?name={{collection.name}}">SNPs</a> </li>
          <li class="active"><a href="/diseases/groupebysnps/{{collection.name}}">Related Diseases</a></li>
          <li><a href="/deletecollection/{{collection.name}}">Delete Collection</a></li>
        </ul>
        </div><!--/.well -->
    </div><!--/span-->
</div>