<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PerSeq</title>
    <meta name="description" content="">
    <meta name="author" content="">
	<link href="/css/bootstrap-1.1.1.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
    <script src="/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript">
        function loadSnp(snp) {
            var t = $("#bdy");
            $("#dbSnp").click(function() {
                t.attr('src', '/dbsnp/?snp='+snp);
                $(this).parent().addClass("active").siblings('li').removeClass('active');
            }).click();
            $("#tags").click(function() {
                t.attr('src', '/tag/?snp='+snp);
                $(this).parent().addClass("active").siblings('li').removeClass('active');
            });
            $("#pubmed").click(function() {
                t.attr('src', '/pubmed/?snp='+snp);
                $(this).parent().addClass("active").siblings('li').removeClass('active');
            });
        }

        $(document).ready(function() {
            $(".snp").click(function() {
                loadSnp($(this).text());
            });
        });
    </script>
  </head>

  <body>

    <!-- Top Navigation -->
   <div class="topbar">
    <div class="fill">
        <div class="container">
            <h3><a href="#">PerSeq</a></h3>
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">SNPs</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li class="menu">
                <a href="#" class="menu">Username</a> <!--insert name of user -->
                <ul class="menu-dropdown">
                    <li><a href="#">My SNPs</a></li>
                    <li><a href="#">My Account</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Log off</a></li>
                </ul>
            </li>
          </ul>
        </div>
    </div>
</div>

<div class="container">
	<div class="row">
		<div class="span4">
			</br>
			</br>
			</br>
			</br>
			</br>
			{% for snp in snps %}
				<ul class="pills"><li><a href="javascript:void(0);" class="snp">{{snp.snpid}}</a></li></ul>
			{% endfor %}
		</div>

		<div class="span11">
			</br>
			</br>
			</br>
			</br>
			</br>
			<ul class="tabs">
			  <li class="active" id="dbSnp"><a href="#">dbSnp</a></li>
			  <li><a href="#" id="pubmed">Pubmed</a></li>
			  <li><a href="#" id="tags">Tags</a></li>
			  <li><a href="#">Info4</a></li>
			  <li><a href="#">Info5</a></li>
			  <li><a href="#">Info6</a></li>
			  <li><a href="#">Info7</a></li>
			</ul>
            <iframe id="bdy" style="width:600px;height:500px;overflow-y:scroll;" frameborder=0></iframe>
        </div>
		</div>
		<div class="pagination">
			<ul>
				<li class="prev disabled"><a href="#">&larr; Prev</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li class="disabled"><a href="#">...</a></li>
				<li><a href="#">98</a></li>
				<li><a href="#">99</a></li>
				<li><a href="#">100</a></li>
				<li><a href="#">101</a></li>
				<li><a href="#">102</a></li>
				<li class="next"><a href="#">Next &rarr;</a></li>
			</ul>
		</div>
      
      

<!-- Footer -->
      <footer>
        <p>&copy; Beta 2012</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
