{% extends "base.html" %}
{% block title %}
Search for a SNP
{% endblock %}

{% block head %}
<script type="text/javascript">
    function isNumber(n) {
          return !isNaN(parseFloat(n)) && isFinite(n);
    }
    function omnify() {
        var search = $('#search').val();
        if(search.slice(0,2).toLowerCase() == 'rs' || isNumber(search))  {
            loadResults();
        } else {
            alert('OmniSearch doesn\'t know what to do with your query');
        }
    }
    

    function loadSnp(html, ret) {
        items = ret['result'];
        for(it in items) {
            console.log(it);
            item = $("<h1>"+items[it]['snpid']+'</h1>')
            item.append('<small> belongs to '+items[it]['gene']['name']+'</small>');
            html.append(item);
        }
        return html;
    }
    function loadGene(html, ret) {
        return html;
    }
    function loadDisease(html, ret) {
        return html;
    }
    function loadStudy(html, ret) {
        return html;
    }
    function loadResult(url, htmlCallback, btnid) {
        $.get(url, function(ret) {
                ret = JSON.parse(ret);

                // Build result html
                html = $('<div class="'+btnid+'"></div>').hide();
                $("#searchResults").append(htmlCallback(html, ret));

                //Display it
                $("#"+btnid+'_count').text(ret['count']).parent().click(function() {
                        $("."+btnid).toggle();
                    }).click();
                });
    }

    function loadResults() {
        var val = $('#search').val();
        loadResult('/search/snp/'+val, loadSnp, 'snp');
        loadResult('/search/gene/'+val, loadGene, 'gene');
        loadResult('/search/disease/'+val, loadDisease, 'disease');
        loadResult('/search/study/'+val, loadStudy, 'study');
    }
    $(document).ready(function() {
        {% if search %}
        loadResults();
        {% endif %}

        $('#loading').text("No results loaded")
            .ajaxStart(function() {
                $(this).show().text("Loading results...");
            })
            .ajaxStop(function() {
                $(this).text("Search complete.");
            })
        ;   
    });
</script>
{% endblock %}

{% block content %}
<form class="well form-vertical" action="" onsubmit="loadResults(); return false;">
    <div class="row-fluid">
        <div class="span7">
            <p>Search for diseases, SNPs, genes or tags.</p>
            <p><small>For instance try &quot;Rs1815739&quot;</small></p>
            <input type="text" class="search-query span4" placeholder="OmniSearch" id="search" value="{{search if search}}" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
        <div id="batchsearch" class="span5">
            <p>Or look up a batch of SNPs or genes here</p>
            <p><small>Paste comma-separated, or with one value per line</small></p>
            <textarea name="batch" class="span4"></textarea>
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>

<div class="row span12">
    <h3><small>Results</small></h3>
    <div id="loading"><p>Load</p></div>

    <div class="btn-group" data-toggle="buttons-checkbox">
        <div class="btn"><span id="snp_count">0</span> SNPs</div>
        <div class="btn"><span id="gene_count">0</span> Genes</div>
        <div class="btn"><span id="disease_count">0</span> Diseasess</div>
        <div class="btn"><span id="study_count">0</span> Studies</div>
    </div>
</div>
<div class="span12" id="searchResults">
</div>

{% endblock %}
