{% extends "base.html" %}
{% block title %}
Search for a SNP
{% endblock %}

{% block head %}
<script type="text/javascript">
    function loadSnp(html, ret) {
        for(it in ret) {
            item = $('<h3><a href="#">'+items[it]['snpid']+'</a></h3>')
            item.append('<small> belongs to '+items[it]['name']+'</small>');
            html.append(item);
        }
        return html;
    }
    function loadGene(html, ret) {
        for(it in ret) {
            item = $('<h3><a href="/gene/'+ret[it]['name']+'">'+ret[it]['name']+'</a><small> also known as '+ret[it]['alias']+'</small></h3>')
            item.append('<small> belongs to '+ret[it]['name']+'</small>');
            html.append(item);
        }
        return html;
    }
    function loadDisease(html, ret) {
        for(it in ret) {
            item = $("<h3>"+ret[it]['snpid']+'</h3>')
            item.append('<small> belongs to '+ret[it]['name']+'</small>');
            html.append(item);
        }
        return html;
    }
    function loadStudy(html, ret) {
        for(it in ret) {
            item = $('<h3><a href="/study/'+ret[it]['id']+'">'+ret[it]['name']+'</a></h3>')
            item.append('<p>'+ret[it]['abstract']+'</p>');
            html.append(item);
        }
        return html;
    }
    function loadResult(url, htmlCallback, btnid) {
        $.get(url, function(ret) {
            ret = JSON.parse(ret);

            // Build result html
            html = $('<div class="'+btnid+'"></div>').hide();
            $("#searchResults").append(htmlCallback(html, ret));

            //Display it
            obj = $("#"+btnid+'_count').text(ret.length).parent();
            if(ret.length > 0) {
                obj.removeAttr("disabled").click(function() {
                        $("."+btnid).toggle();
                    }).click();
            } else {
                obj.attr("disabled", "disabled");
            }
        });
    }

    function loadResults() {
        var val = $('#search').val();
        loadResult('/search/snp/'+val, loadSnp, 'snp');
        loadResult('/search/gene/'+val, loadGene, 'gene');
        loadResult('/search/disease/'+val, loadDisease, 'disease');
        loadResult('/search/study/'+val, loadStudy, 'study');
    }
    $(document).ready(function() {
        {% if search %}
        loadResults();
        {% endif %}

        $('#loading').text("No results loaded")
            .ajaxStart(function() {
                $(this).show().text("Loading results...");
            })
            .ajaxStop(function() {
                $(this).text("Search complete.");
            })
        ;   
    });
</script>
{% endblock %}

{% block content %}
<form class="well form-vertical" action="javascript:loadResults();" onsubmit="loadResults(); return false;">
    <div class="row-fluid">
        <div class="span7">
            <p>Search for diseases, SNPs, genes or tags.</p>
            <p><small>For instance try &quot;Rs1815739&quot;</small></p>
            <input type="text" class="search-query span4" placeholder="OmniSearch" id="search" value="{{search if search}}" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
        <div id="batchsearch" class="span5">
            <p>Or look up a batch of SNPs or genes here</p>
            <p><small>Paste comma-separated, or with one value per line</small></p>
            <textarea name="batch" class="span4"></textarea>
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>

<div class="row span12">
    <h3><small>Results</small></h3>
    <div id="loading">No search results.</div>

    <div class="btn-group" data-toggle="buttons-checkbox">
        <div class="btn"><span id="snp_count">0</span> SNPs</div>
        <div class="btn"><span id="gene_count">0</span> Genes</div>
        <div class="btn"><span id="disease_count">0</span> Diseasess</div>
        <div class="btn"><span id="study_count">0</span> Studies</div>
    </div>
</div>
<div class="span12" id="searchResults">
</div>

{% endblock %}
