{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
    function isNumber(n) {
          return !isNaN(parseFloat(n)) && isFinite(n);
    }
    function omnify() {
        var search = $('#search').val();
        if(search.slice(0,2).toLowerCase() == 'rs' || isNumber(search))  {
            loadSnp();
        } else {
            alert('OmniSearch doesn\'t know what to do with your query');
        }
    }
    function loadSnp() {
        var snp = $('#search').val();
        var loading = 'Loading ...';
        $('#dbsnp').html(loading).load('/dbsnp/?snp='+snp, function() {
            prettyPrint();
        });
        $('#pubmed').html(loading).load('/pubmed/?snp='+snp);
        $('#tags').html(loading).load('/tag/?snp='+snp);
    }
    {% if search %}
    $(document).ready(function() {
       omnify();     
    });
    {% endif %}
</script>
{% endblock %}
{% block content %}
<form class="well" action="" onsubmit="omnify(); return false;">
    <p>Search for diseases, SNPs, genes or tags.
    <small>For instance try &quot;Rs1815739&quot;</small></p>
    <input type="text" class="search-query span4" placeholder="OmniSearch" id="search" value="{{search if search}}" />
        <!--<a href="#" onclick="javascript:loadSnp()" class="btn">Load</a>-->
</form>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#pubmed" data-toggle="tab">Pubmed</a></li>
            <li><a href="#dbsnp" data-toggle="tab">dbSnp</a></li>
            <li><a href="#tags" data-toggle="tab">Tags</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="pubmed">
                <h1>No Pubmed articles found.</h1>
            </div>
            <div class="tab-pane" id="dbsnp">
                <h1>No dbSNP results retrieved.</h1>
            </div>
            <div class="tab-pane" id="tags">
            </div>
        </div>
    </div>
{% endblock %}
