{% extends "base.html" %}

{% block content %}
{% for study in studies %}
    <article class="row">
        <time class="span1">{{study.date}}</time>
        <div class="span10">
        <h3>{{study.disease_trait}}</h3>
        <h3><small>{{study.name}}</small></h3>
        <dl class="dl-horizontal">
            <dt>Sample size(s):</dt>
                <dd>{{study.init_sample}}</dd>
            <dt>Replication sample:</dt>
                <dd>{{study.repl_sample}}</dd>
            <dt>Platform</dt>
                <dd> {{study.platform}}</dd>
        </dl>
        <p>
            <a href="{{study.pubmed_url}}" class="btn btn-mini">View on pubmed</a>
        </p>
        {% if study.gwas %}
        <table class="table">
            <thead><tr>
                    <th class="span3">Gene(s)</th>
                    <th class="span2">SNPs</th>
                    <th class="span2">Intergenic</th>
                    <th class="span1">Odds Ratio</th>
                    <th class="span1">p&#8209;Value</th>
                    <th class="span1">Allele Freq.</th>
                </tr>
            </thead>
            <tbody>
        {% for gwas in study.gwas %}
            {% macro geneName() %}
                {% if gwas.gene %}
                    &raquo; {{gwas.gene.name}}
                {% else %}
                    &uarr; {{gwas.upstream.name}}
                    &darr; {{gwas.downstream.name}}
                {% endif %}
            {% endmacro %}
            <tr>
                <td>{{geneName()}}</td>
                <td>
                    <a href="/search/?q={{gwas.snps}}">{{gwas.snps}}
                    </a>
                </td>
                <td>{{gwas.intergenic}}</td>
                <td>{{gwas.OR_beta}}</td>
                <td>{{gwas.p_val}}</td>
                <td>{{gwas.riscAlleleFrequency}}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        {% endif %}
        </div>
    </article>
{% endfor %}

{% block maturity %}
<!--
<div id="maturityRating" class="row" style="height:12em">
    <div class="span2 well">
        <h1><small>Rating</small></h1>
        <h1>5.8/10.0</h1>
    </div>
    <div class="span8">
        <div class="alert">
        <strong>Warning!</strong> The chosen study has not been reviewed, or has received poor reviews.
        </div>
    </div>

</div>
-->
{% endblock %}

{% block comments %}

<div id="comments" class="" style="padding-left:30px;border:1px solid #eee;">
    <h3>Post comment</h3>
    <form id="commentform" method="POST">
        <label>Comment</label>
        <textarea name="comment"></textarea>
        <label>Rating</label>
        <input type="text" />
        <input type="submit" value="Submit" />
    </form>

    <h3 id="comments-title">{{studies[0].comments.count()}} Comments</h3>
    <ol class="commentlist" style="margin-left:0;list-style:none;">
        {% for comment in studies[0].comments %}
        <li class="row">
          <div class="span2">
            <img src="/img/person.png" style="float:left; padding: 5px;"/>
            <time>{{comment.date}}</time><br />
            <a href="#">{{comment.user}}</a>
          </div>
          <div class="span9"><p>{{comment.body}}</p></div>
        </li>
        {% endfor %}
    </ol>

</div>
{% endblock %}

{% endblock %}