{% extends "base.html" %}
{% block title %}
Study - {{study.name}}
{% endblock %}

{% block content %}
<ul class="breadcrumb">
  <li>
    <a href="/studies/">Studies</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/study/{{study.key().name()}}">{{study.name|truncate(50)}}</a>
  </li>
</ul>
<article class="row-fluid">
        <!-- <time class="span1">{{study.date}}</time> -->
        <div class="span12">
        <div class="page-header">
            <h3>{{study.name}}</h3>
        </div>
        <h3>Disease(s):</h3>
        <ul>
            {% for disease in study.diseases %}
                <li> <h4><a href="/disease/{{disease.name()}}">{{disease.name()}}</a></h4> </li>
            {% endfor %}
        </ul>
        <dl class="dl-horizontal">
            <dt>Sample size(s):</dt>
                <dd>{{study.init_sample}}</dd>
            <dt class="span2">Replication sample:</dt>
                <dd>{{study.repl_sample}}</dd>
            <dt class="span2">Platform</dt>
                <dd> {{study.platform}}</dd>
        </dl>
        <p>
            <a href="{{study.pubmed_url}}" class="btn btn-mini">View on pubmed</a>
        </p>
        {% if study.gwas %}
        <table class="table">
            <thead><tr>
                    <th class="span3">Gene(s)</th>
                    <th class="span2">SNPs</th>
                    <th class="span2">Intergenic</th>
                    <th class="span1">Odds Ratio</th>
                    <th class="span1">p&#8209;Value</th>
                    <th class="span1">Allele Freq.</th>
                </tr>
            </thead>
            <tbody>
        {% for gwas in study.gwas %}
            {% macro geneName() %}
                {% if gwas.gene %}
                    &raquo; <a href="/gene/{{gwas.gene.name}}">{{gwas.gene.name}}</a>
                {% else %}
                    &uarr; <a href="/gene/{{gwas.upstream.name}}">{{gwas.upstream.name}}</a>
                    &darr; <a href="/gene/{{gwas.downstream.name}}">{{gwas.downstream.name}}</a>
                {% endif %}
            {% endmacro %}
            <tr>
                <td>{{geneName()}}</td>
                <td>
                    <a href="/snp/{{gwas.snp.key().name()}}">{{gwas.snp.key().name()}}</a>
                </td>
                <td>{{gwas.intergenic}}</td>
                <td>{{gwas.OR_beta}}</td>
                <td>{{gwas.p_val}}</td>
                <td>{{gwas.riscAlleleFrequency}}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        {% endif %}
        </div>
</article>
{% block comments %}
{% set comments = study.comments %}
{% include 'comments.html' %}
{% endblock %}

{% endblock %}
