<div class="page-header">
<h2>Studies</h2>
</div>
<form method="GET" class="well form-inline">
    <input class="input search-query span10" placeholder="Study search"
        name="filter" value="{{filter if filter is defined}}" />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>
{% if filter is defined %}
<h3><small>Showing results for "{{filter}}". <a href="/studies/">Back</a></small></h3>
{% else %}
<h3><small>Showing all studies.</small></h3>
{% endif %}

{% for study in studies %}
<article class="row-fluid">
    <p class="span1">{{study.date}}</p>
    <div class="span11">
        <h3>
            <a href="/study/{{study.pubmed_id}}"><small>{{study.name}}</small></a>
            <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{study.pubmed_id}}" class="btn btn-success btn-mini">PubMed</a>
        </h3>
        <h4>Disease(s):</h4>
        <ul>
        {% for disease in study.diseases %}
            <li> <h4><a href="/disease/{{disease.name()}}">{{disease.name()}}</a></h4> </li>
        {% endfor %}
        </ul>
        <dl class="dl-horizontal">
            <dt>Sample size(s):</dt>
                <dd>{{study.init_sample}}</dd>
            <dt>Replication sample:</dt>
                <dd>{{study.repl_sample}}</dd>
            <dt>Platform</dt>
                <dd> {{study.platform}}</dd>
        </dl>
    </div>
</article>
{% else %}
<h3>..No articles</h3>
{% endfor %}
{% if page %}
    {% if page == 1 %}
    <ul class="pager">
        <li>
            <a href="">
                {{page}} / {{count}}
            </a>
        </li>
        <li>
            <a href="/studies/?page={{page + 1}}">Next</a>
        </li>
    </ul>
    {% elif page == count %}
    <ul class="pager">
        <li>
            <a href="/studies/?page={{page - 1}}">Previous</a>
        </li>
        <li>
            <a href="">
                {{page}} / {{count}}
            </a>
        </li>
    </ul>
    {% else %}
    <ul class="pager">
        <li>
            <a href="/studies/?page={{page-1}}">Previous</a>
        </li>
        <li>
            <a href="">
                {{page}} / {{count}}
            </a>
        </li>
        <li>
            <a href="/studies/?page={{page + 1}}">Next</a>
        </li>
    </ul>
    {% endif %}
    {% endif %}