<h2>Studies</h2>
{% for study in studies %}
<article class="row-fluid">
    <time class="span1">{{study.date}}</time>
    <div class="span11">
    <h3><small>{{study.name}}</small></h3>
    <h4>Disease(s):</h4>
    <ul>
            {% for disease in study.diseases %}
                <li> <h4><a href="/disease/{{disease.name()}}">{{disease.name()}}</a></h4> </li>
            {% endfor %}
        </ul>
    <dl class="dl-horizontal">
        <dt>Sample size(s):</dt>
            <dd>{{study.init_sample}}</dd>
        <dt>Replication sample:</dt>
            <dd>{{study.repl_sample}}</dd>
        <dt>Platform</dt>
            <dd> {{study.platform}}</dd>
    </dl>
    <p><a href="/study/{{study.pubmed_id}}" class="btn btn-mini">
        Study #{{study.pubmed_id}}</a>
        <a href="{{study.pubmed_url}}" class="btn btn-mini">View on pubmed</a>
    </p>
    </div>
</article>
{% else %}
<h3>..No articles</h3>
{% endfor %}